body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 2rem;

}


.btn-container {
    display: flex;
    justify-content: center;

}
.red{
    background-color: rgba(255, 0, 0, 0.705);
}

.green{
    background-color: rgba(0, 128, 0, 0.777);
}

.purple{
    background-color: rgba(128, 0, 128, 0.803);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.832);
}

.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}